
	body{
		background-color:gray;
	}
	#container{

		background-color: gray;

	}
	
	div.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
		width: 100%;
		display: block;
		transition: top 0.3s;
        padding: 0px;
        width: 100%;
        background-color: #ffffff;
         
    }
    #logo{
    	margin-left:5px;
        font-size:25px;
    	font-family:fantasy;
    	font-style: italic;
    }
    #logo:hover{
    	color: blue;

    }
    div.collapse ul{
    	text-align: center;
    	margin-left: 30px;
    }
    div.collapse ul li{
    	margin-right: 20px;
    	font-style: italic;
    	font-family: fantasy;
    }

    div.collapse ul li:hover{
    	border-bottom:1px solid gray;
    	
    }

    @media(max-width:900px){

    	div.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
		width: 100%;
		display: block;
		transition: top 0.3s;
        padding: 0px;
        width: 100%;
        background-color: #ffffff;
         
    	}

    	#user-auth{
    		display: none;
    	}
    }
